/* Globoles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

/* BP */
.bp-producto1 {
  color: #fff;
}

/* RC */
.rc-producto1 {
  color: #fff;

}
.fila1{
   display: flex;
}
body{
  background-image: url(img/success-stories/background.jpg);
}

/* GV */
.gv-producto1 {
}
