/* BP */
.bp-producto1 {
  color: #fff;
}

/* RC */
.rc-producto1 {
}

/* GV */
#welcome-section {
  text-align: center;
  height: 80vh;
  background-image: url(./img/welcome/background.jpg);
  background-position: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h2 {
  font-size: 50px;
  font-family: "Noto Sans";
  font-weight: 500;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}

#welcome-section input {
  font-size: 30px;
  padding: 15px;
  border-radius: 25px;
  border-style: none;
  max-width: 700px;
  width: 80vw;
  text-align: center;
}

#welcome-section input:focus {
  outline: none;
}
