.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
}

.starts-center {
  /* background-color:  #46dfc4; */
  background-image: url(img/success-stories/main_1.jpg);
  border: 2px solid #0b385f;
  border-style: ridge;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 1em;
  padding: 25px 30px 25px 30px;
  text-align: center;
}
.transbox {
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 1em;
  padding: 10px 40px 10px 40px;
}
.transbox h1 {
  background-color: n;
  text-align: center;
  opacity: 1;
  font-weight: 600;
}
.flex {
  display: flex;
  justify-content: space-around;
  height: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 180px;
  padding: 20px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
